/*
  set everything to box sizing border box remove the margins and padding
*/
* {
  box-sizing: border-box;
}

html,
body,
* {
  padding: 0%;
  margin: 0%;
}

body {
  background: #fff;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/*
styling the header component
*/

.container {
  overflow-x: hidden;
}

.head {
  height: 48px;
  width: 375px;
  align-items: center;
  bottom: 0%;
  display: flex;
  justify-content: space-between;
}

.head_desktop {
  display: none;
}

.heading_container {
  display: flex;
  justify-content: center;
  padding: 10px 2rem;
  width: 114px;
  height: 48px;
}

.head_heading {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #28352f;
}

.head_icon_holder {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}

.icon {
  font-size: 20px;
  color: #28352f;
}

/*
  main section styling
*/

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./assets/main/exportsmall.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-origin: border-box;
  width: 375px;
  position: relative;
}

.main_article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
}

.main_article_heading {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  text-align: center;
}

.main_article_heading > u {
  color: #36b37e;
  text-decoration: none;
}

.main_article_paragraph {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #172b4d;
  line-height: 28px;
}

/*
  nav styling
*/

.links {
  list-style: none;
  display: flex;
  width: 170.17px;
  height: 20px;
  justify-content: space-between;
}

.links > li {
  font-size: large;
  color: #505f79;
}

.menu_holder {
  z-index: 1;
  background: #fff;
  display: none;
  height: 755px;
  width: 375px;
  position: absolute;
  top: 1px;
  left: 1px;
}

.menu_holder_display {
  display: block;
}

#close {
  transition: background-color ease 0.3s, color ease 0.3s, border-radius ease 0.3s;
}

#close:hover {
  background-color: #111;
  border-radius: 0.5rem;
  color: #fff;
}

.menu_holder > i {
  float: right;
  padding: 10px;
  margin-right: 1rem;
  color: #67798e;
  font-size: x-large;
}

.menu_links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  padding: 96px 24px;
}

/*
  arrow down styling
*/

.arrow_down {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #dfe1e6;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  margin-top: 8%;
  cursor: pointer;
  transition: width 0.3s, height 0.3s, background 0.3s, color 0.3s;
  transition-timing-function: ease;
}

.arrow_down:hover {
  width: 28px;
  height: 24px;
  background: #000;
  color: #fff;
}

/*
  work section css
*/

.work {
  height: 100%;
  width: 375px;
}

.work_header {
  height: 157px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work_header > h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin-top: 22px;
  color: #172b4d;
}

.work_header_border {
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
  margin-top: 24px;
}

.work_body {
  display: grid;
  position: relative;
  grid-template-rows: repeat(6, 474px);
  background-color: #fff;
  gap: 24px;
  padding: 62px 22px 1px 26px;
}

.projects {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.figures {
  height: 268px;
  width: 100%;
  background: #ebf0ee;
}

.details_ammend {
  display: none;
  position: fixed;
  left: auto;
  top: 1px;
  right: auto;
  width: 343px;
  overflow-y: scroll;
  height: 836px;
  z-index: 1;
  padding: 16px;
  background-color: #fff;
}

@media only screen and (min-width: 920px) {
  .details_ammend {
    display: none;
  }

  .detailsssx {
    display: none !important;
  }

  .details_ammenddesc {
    display: none;
    position: fixed;
    overflow-y: scroll;
    left: 1px;
    top: 1px;
    width: 100vw;
    height: 1990px;
    z-index: 2;
    padding: 120px 260px;
    background: #c1c7d0;
    border-radius: 8px;
  }

  #project1amend1desc2 {
    width: 920px;
    padding: 16px;
    background-color: #fff;
    position: relative;
    margin: auto;
    height: 1083px;
    border-radius: 8px;
    border: 1px solid #ebecf0;
    box-shadow: 1px 48px 48px rgba(37, 47, 137, 0.08);
  }

  .projects {
    position: initial;
  }

  .details_ammenddescreverse {
    display: block;
  }
}

@media only screen and (max-width: 920px) {
  .details_ammenddescreverse {
    display: none;
  }

  .details_ammenddesc {
    display: none;
  }
}

.closexl {
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.2s ease-in-out;
  border-radius: 5px;
}

.closexl:hover {
  background-color: tomato;
  color: #000;
}

.detailsssx {
  display: block;
}

.closexs {
  cursor: pointer;
  transition: background 0.3s ease;
}

.closexs:hover {
  background: #000;
}

.details {
  height: 122px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.details > h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3a4a42;
  margin: 16px;
}

.form_links > li {
  color: #505f79;
}

.menu_links > li {
  transition: text-decoration ease-in-out 0.3s;
}

.categories > ul > li {
  margin: 24px 4px;
}

.skill > ul > li {
  margin: 4px 4px;
}

.framework > ul > li {
  margin: 4px 4px;
}

.menu_links > li > a {
  color: #3a4a42;
  text-decoration: none;
}

.menu_links > li:hover {
  text-decoration: underline;
  font-weight: bold;
}

.details > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  order: 1;
  width: 305px;
  height: 32px;
  list-style: none;
}

.details > ul > li:nth-child(1) {
  padding: 8px 12px;
  width: 103px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  font-family: 'Inter', sans-serif;
}

.details > ul > li:nth-child(2) {
  width: 45px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details > ul > li:nth-child(3) {
  width: 82px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details > ul > li:nth-child(4) {
  width: 51px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_buttons {
  width: 122px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 1rem;
  border: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
  transition-property: background, box-shadow;
  transition-duration: 0.2s, 0.5s;
  transition-timing-function: ease;
}

.main_buttons:hover,
.javabtn:hover {
  box-shadow: 1px 8px 16px rgba(54, 179, 127, 0.24);
  background: #111;
}

.main_buttons:focus,
.main_buttons:active {
  background: #008552;
}

/*
  about me styling
*/

.aboutme {
  width: 375px;
  height: 100%;
  background: #fff;
}

.aboutme_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  height: 333px;
  margin: 61px 12px;
}

.aboutme_header > h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 16px;
  height: 48px;
  width: 100%;
}

.aboutme_header > p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  height: 209px;
  width: 80%;
}

.aboutme_header > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 5px;
  gap: 10px;
  width: 150px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
  transition: background 0.2s ease, box-shadow 0.5s ease;
  cursor: pointer;
}

.aboutme_header > button:hover {
  box-shadow: 1px 8px 16px rgba(54, 179, 127, 0.24);
  background: #000;
}

.aboutme_header > button:focus,
.aboutme_header > button:active {
  background: #008552;
}

.aboutme_categories {
  display: grid;
  grid-template-rows: repeat(3, 352px);
  row-gap: 24px;
  padding: 1px 24px;
}

.categories {
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.categories > h2 {
  height: 32px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
  text-align: center;
  padding: 64px 1px 24px 1px;
}

.framework > h2 {
  margin-bottom: 20px;
}

.skill > h2 {
  margin-bottom: 20px;
}

.categories > ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.languages > ul > li:nth-child(1) {
  padding: 12px;
  width: 89px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.languages > ul > li:nth-child(2) {
  padding: 12px;
  width: 55px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.languages > ul > li:nth-child(3) {
  padding: 12px;
  width: 53px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.languages > ul > li:nth-child(4) {
  padding: 12px;
  width: 50px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.framework > ul > li:nth-child(1) {
  padding: 12px;
  width: 84px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.framework > ul > li:nth-child(2) {
  padding: 12px;
  width: 103px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.framework > ul > li:nth-child(3) {
  padding: 12px;
  width: 63px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.framework > ul > li:nth-child(4) {
  padding: 12px;
  width: 83px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.framework > ul {
  flex-wrap: wrap;
  height: 103px;
}

.framework > ul > li:nth-child(5) {
  padding: 12px;
  width: 81px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.skill > ul > li:nth-child(1) {
  padding: 12px;
  width: 72px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.skill > ul > li:nth-child(2) {
  padding: 12px;
  width: 67px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.skill > ul > li:nth-child(3) {
  padding: 12px;
  width: 79px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.skill > ul > li:nth-child(4) {
  padding: 12px;
  width: 55px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.skill > ul > li:nth-child(5) {
  padding: 12px;
  width: 77px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.skill > ul {
  flex-wrap: wrap;
  width: 320px;
  justify-content: center;
}

.reach_out {
  height: 363px;
  width: 327px;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  text-align: center;
  margin: auto;
  padding-top: 60px;
}

/*
  form styling
*/

.contact {
  height: 883px;
  width: 375px;
  display: flex;
  flex-direction: column;
  order: 1;
  position: relative;
}

.contact_form {
  display: flex;
  order: 1;
  flex-direction: column;
  align-items: center;
  width: 327px;
  height: 350px;
  margin: auto;
  padding-top: 58px;
}

.form_fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 327px;
  border: none;
}

#form_email,
#form_name {
  width: 100%;
  height: 48px;
  padding: 16px 15px;
  color: #6b778c;
}

#form_name::placeholder,
#form_email::placeholder {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
}

#form_message {
  width: 100%;
  height: 114px;
  padding: 12px;
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
  background: #fff;
  border: 1px solid #60c095;
  border-radius: 4px;
  outline: none;
}

#form_message:hover,
#form_message:focus {
  border: 2px solid #60c095;
}

#form_button {
  width: 129px;
  height: 48px;
  margin: auto;
  background: #36b37f;
  border-radius: 4px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
  letter-spacing: 0.03em;
  color: #fff;
  transition: background 0.2s ease, box-shadow 0.5s ease;
}

#form_button:hover {
  box-shadow: 1px 8px 16px rgba(54, 179, 127, 0.24);
  background: #000;
}

#form_button:focus,
#form_button:active {
  margin-top: 200px;
  background: #008552;
}

.form_links {
  width: 170.1px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  order: 2;
  margin: auto;
  padding-top: 44px;
  list-style: none;
}

.form_links_desktop {
  visibility: hidden;
}

/*
  media queries for desktop version
*/

@media screen and (min-width: 768px) {
  .head {
    display: none;
  }

  .head_desktop {
    display: block;
    height: 72px;
    width: 100%;
  }

  .head_desktop_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 255px;
    height: 40px;
    margin: auto;
    padding-top: 16px;
  }

  .head_desktop_nav > a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .head_desktop_nav > a:hover {
    text-decoration: underline;
    transition: text-decoration 2s ease-in-out 2s;
  }

  .main {
    width: 100%;
    background: url(./assets/main/desktopfig.svg) 40% 50% no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .main_article {
    margin-left: 260px;
    margin-right: 260px;
    padding: 24px 24px;
    gap: 24px;
  }

  .main_article_paragraph {
    width: 95%;
  }

  .arrow_down {
    width: 40px;
    height: 40px;
    margin-top: 74px;
  }

  .arrow_down:hover {
    width: 43px;
    height: 43px;
    background: #000;
    color: #fff;
  }

  .work {
    height: 100%;
    width: 100%;
  }

  .work_header > h2 {
    margin-top: 102.7px;
  }

  .work_body {
    grid-template-rows: repeat(2, 474px);
    grid-template-columns: repeat(3, 369px);
    justify-content: center;
    padding-top: 52px;
  }

  .aboutme {
    width: 100%;
    margin-top: 114px;
  }

  .aboutme_header {
    height: 240px;
    gap: 1px;
    width: 920px;
    margin: auto;
  }

  .aboutme_categories {
    padding-top: 24px;
    grid-template-rows: repeat(1, 352px);
    grid-template-columns: repeat(3, 369px);
    justify-content: center;
    column-gap: 24px;
  }

  .reach_out {
    height: 256px;
    width: 463px;
    margin: 0.1%;
    font-size: 30px;
  }

  .contact {
    flex-direction: row;
    width: 100%;
    height: 490px;
    justify-content: center;
    align-items: center;
  }

  .form_links {
    display: none;
  }

  .contact_form {
    width: 684px;
    height: 330px;
    margin: 0.1%;
  }

  .form_fieldset {
    width: 100%;
    padding-left: 24px;
    display: flex;
    align-items: baseline;
  }

  #form_button {
    margin: 0.1%;
  }

  .line {
    width: 100%;
    margin-top: 145px;
    border: 1px #dfe1e6 solid;
  }

  .form_links_desktop {
    display: flex;
    visibility: visible;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    list-style: none;
    color: #505f79;
    height: 40px;
    width: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
